{% extends 'blog/base.html' %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            {% if post.postMedia != null  %}
                <img class="img-responsive" src="{{post.postMedia.url}}> </img>
            {% endif %}
            <h2 class="article-title">{{ post.title }}</h2>
            <div class="article-metadata">
                <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                 <!-- If there is a post picture, display it-->
                 
                {% if post.author == user %}
                <div>
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' post.id %}">Edit Post</a>
                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' post.id %}">Delete Post</a>
                </div>
                {% endif %}
            </div>
            <p class="article-content">{{ post.content }}</p>
        </div>
    </article>
{% endblock content %}
